/* div {
    height: 100px;
    width: 100px;
    background-color: orange;
    /* transform: translate(100px, 100px); */

    /* transform: rotate(90deg); */

    /* transform: scale(1.5); */

    /* transform: translate(100px, 100px) rotate(45deg) scale(0.5); */

    /* translate: 100px 0;
    rotate 45deg;
    scale 1.5;  */
/* } */ 

div {
    height: 100px;
    width: 100px;
    background-color: orange;
    /* transition: background-color 1s, width 1s, height 5s; */
    /* transition: 5s ease-in; */
    /* transition: 5s ease-out; */
    /* transition: 1s linear; */
    transition: 3s steps(10);
}
div:hover {
    width: 500px;
    /* height: 300px; */
    /* background-color: olivedrab; */
}